* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html{
    font-size: 62.5%;
}

.calContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 45rem;
    height: 52rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.month{
    width: 100%;
    height: 12rem;
    background-color:rgb(141, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.previous{
    font-size: 2.5rem;
    cursor: pointer;
}

.next{
    font-size: 2.5rem;
    cursor: pointer;
}

.currentMonth{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.currentDay{
    font-size: 1.6rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.dayInTheWeek{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.monthDays{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.monthDays:hover:not(.today){
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-days{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    opacity: 0.5;
}

.next-days{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    opacity: 0.5;
}

.today{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    background-color: rgb(138, 39, 39);
}


.userInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 50rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.userInputContainer{
    display: none;
    flex-direction: column;
    width: 28rem;
    height: 48rem;
    background-color: red;
}

.eventLabel{
    font-size: 2rem;
}


.theDayUserClicked{
    width: 40rem;
    height: 50rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.theDayUserClickedTextContainer{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.deleteBtn{

}

.eventIndicator{
    width: 4px;
    height: 4px;
    background-color: blue;

}