/* Used by all text in the calendar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
/* Here we give two variables, the first one can be changed to fit what the user wants  */
:root{
    --calenderRed: rgb(138, 39, 39);
    --calenderGreen: rgb(39, 138, 39);
}

html{
    font-size: 62.5%;
}

/* the main calendar */
.calContainer2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Displayed year, month and the days */
.calendar{
    width: 45rem;
    height: 52rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.month{
    width: 100%;
    height: 12rem;
    background-color: var(--calenderRed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.previous{
    font-size: 2.5rem;
    cursor: pointer;
}

.next{
    font-size: 2.5rem;
    cursor: pointer;
}

.currentMonth{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.currentDay{
    font-size: 1.6rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.dayInTheWeek{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.monthDays{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.monthDays:hover:not(.today){
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-days{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    opacity: 0.5;
}

.next-days{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    opacity: 0.5;
}

.today{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    background-color: var(--calenderRed);
}

/* This is the left side of the calendar used to accept user input */
.userInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 50rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.userInputContainer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 48rem;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.newEventBtn{
    width: 25rem;
    height: 17rem;
    font-size: 4rem;
    color: white;
    border: 0.5rem solid white;
    background-color: var(--calenderRed);
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px var(--calenderRed), 0 0 80px var(--calenderRed);
    transition: all 0.2s ease-in;
}

.newEventBtn:hover{
    border: 1rem solid white;
    background-color: var(--calenderGreen);
    box-shadow: 0 0 40px var(--calenderGreen), 0 0 80px var(--calenderGreen), 0 0 120px var(--calenderGreen);
}
.eventLabel{
    font-size: 2rem;
}

.eventInput{
    margin-bottom: 6rem;
    font-size: 2rem;
    width: 24rem;
    height: 6rem;
}

.submitBtn{
    width: 24rem;
    height: 6rem;
    color: white;
    border: 0.5rem solid white;
    margin-bottom: 2rem; 
    background-color: var(--calenderRed);
    box-shadow: 0 0 40px var(--calenderRed);
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in;
}

.submitBtn:hover{
    border: 1rem solid white;
    background-color: rgb(27, 163, 61);
    box-shadow: 0 0 40px rgb(27, 163, 61);
}

/* This is the right side of the calendar where the events are displayed */
.theDayUserClicked{
    width: 40rem;
    height: 50rem;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0, 0.4);
}

.theDayUserClickedTextContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.deleteBtn{
    color: white;
    border: 0.2rem solid white;
    width: 10rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--calenderRed);
    box-shadow: 0 0 40px var(--calenderRed);
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in;
}

.deleteBtn:hover{
    border: 0.4rem solid white;
    background-color: var(--calenderGreen);
    box-shadow: 0 0 40px var(--calenderGreen);
}

.titles{

}

.times{

}

.descriptions{

}


/* The unique event containers */
.containers{
    background-color: rgb(29, 29, 29);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
}


/* This is the color selection div that is seen at the bottom of the calendar, used to set a prefered color */
.colorSelect{
    width: 45rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    border: 3px solid rgb(12, 12, 12);
    height: 5rem;
    width: 5rem; 
}

.red{
    background-color: rgb(138, 39, 39);
}

.blue{
    background-color: rgb(39, 79, 138);
}

.yellow{
    background-color: rgb(138, 128, 39);
}

.purple{
    background-color: rgb(98, 39, 138);
}

.orange{
    background-color: rgb(138, 84, 39);
}

.teal{
    background-color: rgb(39, 131, 138);
}
